*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.galery1{
    width: 100%;
    height: auto;
    background-color: burlywood;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    grid-gap: 20px;
    padding: 20px;
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img1 img4 img5 img6"
    "img7 img4 img8 img8"
    ;
}

.item{
    border: 3px solid black;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: all 1.2s;
}

.item:hover{
    filter: grayscale(0%);
    transform: scale(1.04);

}

.item1{
    grid-area: img1;
    background-image: url(img/castillo.jpg);
}

.item2{
    grid-area: img2;
    background-image: url(img/CiudadArbol.jpg);
}

.item3{
    grid-area: img3;
    background-image: url(img/fuji.jpg);
    background-position: center;
}

.item4{
    grid-area: img4;
    background-image: url(img/lago.jpg);
}

.item5{
    grid-area: img5;
    background-image: url(img/london.jpg);
}

.item6{
    grid-area: img6;
    background-image: url(img/playaTarde.jpg);
}

.item7{
    grid-area: img7;
    background-image: url(img/teExterior.jpg);
}

.item8{
    grid-area: img8;
    background-image: url(img/tren.jpg);
    background-position: bottom;

}

.galery2{
    width: 100%;
    height: auto;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8 , 200px);

}