
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*================ NAV BAR ===================*/

nav{
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    border-bottom: 1px solid #000;
}

nav li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    color: #000;
}

nav .logo{
    width: 120px;
    cursor: pointer;
}

/* Linea de subrallado con animacion de hover en el nav menu */
#menu-links > li > a {
    position: relative;
}

#menu-links > li > a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.3s ease-in-out;
}

#menu-links > li > a:hover::after {
    width: 100%;
}

/*================ FOOTER ===================*/

footer{
    background-color: black;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 15%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.diseñador{
    opacity: 0.7;
    text-transform: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/*================ HEADER INDEX ===================*/

.header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#ffffff 0%, #e4a4a4 49%, #ffffff 100%);
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header h1{
    margin-top: 100px;
    font-size: 13vw;
    line-height: 11vw;
}

.btnContainer{
    margin: 20px 0px;
}

.header button{
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.btnDark{
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 30px;
    border-radius: 40px;
}

.btnDark img{
    width: 40px;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-left: 30px;
}

.btnLight{
    background: transparent;
    text-decoration: underline;
}

.btnLight img{
    width: 20px;
    margin-left: 10px;
}

.header p{
    max-width: 360px;
    font-weight: 500;
    padding-top: 20px;
    
}

.userImg{
    width: 40%;
    height: auto;
    position: absolute;
    right: 10%;
    padding-top: 4%;
}

.menuIcon{
    display: none;
}

/* Animacion texto titulo */

.header h1 span{
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
}

.header h1 span:first-child{
    animation: textColor1 2s linear infinite alternate;
}

.header h1 span:last-child{
    animation: textColor2 2s linear infinite alternate;
}

@keyframes textColor1{
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 100%;
    }
    100%{
        background-size: 100%;
    }
}

@keyframes textColor2{
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 0%;
    }
    100%{
        background-size: 100%;
    }
}

/*=======================================*/




/*================ PROYECTS SECTION INDEX ===================*/

#proyects{
    padding: 10rem 0;
}

.sectionHeading{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.allItems{
    margin: 0px 20px;
}
#proyects .item{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
}

#proyects .item:nth-child(even){
    flex-direction: row-reverse;
}

#proyects .item .left{
    flex: 1;
}

#proyects .item .right{
    flex: 1;
    margin-left: -150px;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px #000028;
    z-index: 2;
}

#proyects .item:nth-child(even) .right{
    margin-left: 0;
}

#proyects .item:nth-child(even) .left{
    margin-left: -150px;
}

#proyects .item .left .img{
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #4785fc33;
    position: relative;
}

#proyects .item .left .img::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #e4a4a438;
}

.buttons{
    flex-direction: column;
    width: 110px;
    background: #000;
    color: #fff;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 40px;
}

.buttons a{
    width: 100%;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#proyects .item .left .img img{
    object-fit: cover;
    transition: 0.3s ease transform;
}

#proyects .item:hover .left .img img{
    transform: scale(1.1);
    z-index: 1;
}

#proyects .item .right .proyectTitle{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#proyects .item .right .proyectSub{
    font-size: 1rem;
    margin-bottom: 1rem;
}

#proyects .item .right .projectDescript{
    color: rgb(62, 62, 62);
    margin-bottom: 2rem;
}

/*IMG Proyectos vertical e horizontal*/
.imgPV{
    width: 100%;
}

.imgPH{
    height: 100%;
}


/*================ CONTACTO ===================*/

/*---------------- CONTACT FORM ---------------*/

.contact-section{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    animation: fadeInUp 1s ease;
    margin-top: 50px; 
    position: relative;
    z-index: 1;
}

.contact-section h2{
    margin-bottom: 20px;
}

.contact-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section button:hover{
    background-color: #0056b3;
}

/*================ SOBRE MI ===================*/

/*---------------- SOBRE MI NAV ---------------*/

.aboutNav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-bottom: none;
}


nav .aboutLogo{
    width: 120px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.aboutNav li a{
    color: white;
}

/* Linea de subrallado con animacion de hover en el nav menu */
#menuLinksAbout > li > a {
    position: relative;
}

#menuLinksAbout > li > a::after {
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.3s ease-in-out;
}

#menuLinksAbout > li > a:hover::after {
    width: 100%;
}

/*---------------- VIDEO HEADER ---------------*/

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentAbout{
    text-align: center;
}

.contentAbout h1{
    font-size: 9em;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.contentAbout h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .backVideo{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .backVideo{
        width: auto;
        height: 100%;
    }
}

/*================ GALERIA ===================*/

.container{
    padding: 3rem;
}

.h1Gal{
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
}

.imageGal{
    display: block;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.9);
}

.caption{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.thumbnail:hover{
    transform: translateY(-4px);
}

.imgContainer:hover .overlay{
    opacity: 1;
}
/*=============================== MEDIA QUERY ZONE =====================================*/

/*----------- MEDIA Q (860px)------------*/
@media only screen and (max-width: 860px){

    /*----------- MEDIA QUERIES PARA NAVBAR (860px)------------*/
    nav ul{
        position: absolute;
        width: 100%;
        background: #000000;
        left: 0;
        top: 100%;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    
    nav ul li a{
        color: white;
    }
    
    .btnNav{
        display: none;
    }
    nav .logo{
        width: 150px;
    }
    nav ul li{
        margin: 10px;
        font-size: 12px;
    }
    .menuIcon{
        display: block;
        width: 50px;
    }
    .show-menu{
        max-height: 60px;
    }
}

/*----------- MEDIA QUERIES PARA PROYECTS SECTION INDEX (860px)------------*/

@media only screen and (max-width: 768px) {
    #proyects .item{
        flex-direction: column;
    }
    #proyects .item .left{
        width: 100%;
    }
    #proyects .item .right{
        width: 90%;
        margin-left: 0;
        margin-top: -70px;
    }
    #proyects .item:nth-child(even){
        flex-direction: column;
    }
    #proyects .item:nth-child(even) .left{
        margin-left: 0;
    }
}

/*----------- MEDIA Q (910px)------------*/

@media only screen and (max-width: 910px) {
    
    /*----------- MEDIA QUERIES PARA EL HEADER (910px)------------*/
    .header{
        height: 100%;
        padding: 0;
    }
    .userImg{
        width: 100%;
        right: 0;
        position: relative;
        bottom: 0; 
    }
    .headerContent{
        position: absolute;
        bottom: 0;
        padding: 0 10%;
        z-index: 2;
        padding-bottom: 30px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0));
    }
    .btnContainer{
        margin: 5px 0;
    }
    .header button{
        font-size: 14px;
        margin-right: 10px;
    }
    .btnDark{
        padding: 7px 7px 7px 20px;
        margin-bottom: 10px;
    }
    .btn-dark img{
        width: 30px;
        padding: 5px;
        margin-left: 15px;
    }
}

